.head {text-align: center;}
.head img {width: 200px;}
.head h3{background:linear-gradient(rgb(221, 221, 156),rgb(221, 221, 81)); height:50px; }
.player p {color:darkgray}
.aside-main h2 {font-size:2em;}
.aside-main p {font-size: 1.2em; font-weight:bold;}

